{% extends 'layout.html' %}

{% block title %}
Jovian Careeers
{% endblock %}

{% block styles %}

h1 {
    font-size: 40px;
    font-family: Roboto;
    font-weight: normal;
    xolor: rgb(100, 100, 100);
    text-align: center;
}

img {
    width: 100%;
    height: 360px;
    object-fit: cover;
}

h2 {
    font-family: Roboto;
    font-size: 32px;
    color: rgb(100, 100, 100);
    text-align: center;
}

{% endblock %}

{% block content %}

<div>
    {% include 'nav.html' %}
</div>
<div class="container">
    <h1>{{ company_name }} Careers</h1>
    <img class="img-fluid" src="/home/kag3ma/Pictures/Miscellaneous/Oliur.png" alt="oliur image"/>

    <h2>About Jovian</h2>
    <p class="lead">Lorem ipsum dolor sit amet...</p>

    <div class="mb-4 border-bottom row">
        <h2>Open Positions</h2>
        {% for job in jobs %}
            {% include 'jobitem.html' %}
        {% endfor %}
    </div>

    <button>Contact us</button>

    <p>Copyright 2022, Jovian</p>
</div>

{% endblock %}
